<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.skillbox.egais_first_application">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_egais_first_app"
        android:roundIcon="@drawable/logo_egais_first_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ProductListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailProductActivity"
            android:exported="true"
            tools:ignore="MissingClass">
            <intent-filter>
                <action android:name="com.skillbox.egais_second_application" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>